@import "../../global.scss";

.Dashboard {
  background-color: $background-color;
  .dashboard-body {
    display: flex;
    .dashboard-view-area {
      flex: 1;
      padding: 6.5rem 1.8rem 0rem 1.8rem;
    }
  }
}
