@import "../../global.scss";

header {
  display: flex;
  padding: 0 1.8rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  box-shadow: 0px 1px 14px 0.1px $shadow-color;
  @include lt-sm {
    padding: 0 1.2rem;
  }
  .logo-container {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    margin-top: 2rem;
    height: 3rem;
    img {
      height: 1.4rem;
      object-fit: contain;
      cursor: pointer;
    }
    .m-bars {
      display: none;
      color: $primary-color;
      cursor: pointer;
      font-size: 1.4rem;
      margin-left: 0.5rem;
      outline: none;
      background: transparent;
      border: none;
      text-align: center;
      @include lt-md {
        display: block;
      }
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include lt-md {
      display: none;
    }
    input {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border: 1px solid $secondary-color;
      outline: none;
      background-color: transparent;
      color: $secondary-color;
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
      width: 15rem;
      &::placeholder {
        color: $secondary-color;
      }
    }
    button {
      background-color: $secondary-color;
      border: none;
      outline: none;
      padding: 0.68rem 1.3rem;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: white;
      cursor: pointer;
    }
  }
  .nav-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    .sm-search {
      display: none;
      color: $secondary-color;
      @include lt-md {
        display: block;
      }
    }
    .docs_a {
      color: $primary-color;
      font-size: 1rem;
      cursor: pointer;
      font-weight: 600;
    }
    .bell {
      color: $primary-color;
      font-size: 1.4rem;
      cursor: pointer;
    }
    .profile {
      border-radius: 50%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
      p {
        color: $primary-color;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 600;
        @include lt-md {
          display: none;
        }
      }
      .caret-down {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
