@import "../../../../global.scss";

.dashboard-left-nav {
  width: 20%;
  box-shadow: 0px 0px 10px 4px $shadow-color;
  padding-top: 5.5rem;
  background-color: white;
  min-height: 100vh;
  @include lt-lg {
    width: 7%;
    padding-top: 6.5rem;
  }
  @include lt-md {
    padding-top: 1rem;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    height: 100vh;
    overflow: auto;
    &.open {
      width: 80vw;
      visibility: visible;
      transform: translateX(0);
      transition: 600ms ease-in;
    }
    &.close {
      visibility: hidden;
      transform: translateX(-80vw);
      transition: 600ms ease-in;
    }
  }
  .org {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    .chevdown {
      cursor: pointer;
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
  .nav-group {
    margin-top: 0.7rem;
    .nav-group-name {
      text-transform: uppercase;
      padding-left: 2rem;
      font-size: 0.8rem;
      font-weight: 600;
      color: $primary-color;
    }
  }
}
