@import "../../global.scss";

.user-details-view {
  flex: 1;
  .nav-btn {
    display: flex;
    gap: 0.6rem;
    margin-bottom: 1.8rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    width: fit-content;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    flex-wrap: wrap;
    outline: none;
    border: none;
    color: $text-color;
    text-align: center;
    cursor: pointer;
    &:active {
      background-color: transparentize($text-color, 0.5);
      color: $primary-color;
    }
    &:hover {
      background-color: transparentize($text-color, 0.7);
      color: $primary-color;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
  .view-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    @include lt-sm {
      flex-direction: column;
      gap: 1rem;
    }
    .actions {
      display: flex;
      gap: 0.6rem;

      .blacklist {
        @include outline-btn($red-color);
        text-transform: uppercase;
        font-weight: 520;
      }
      .activate {
        @include outline-btn($secondary-color);
        text-transform: uppercase;
        font-weight: 520;
      }
    }
  }
  .user-nav-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    .top {
      display: flex;
      align-content: center;
      align-items: center;
      gap: 2rem;
      @include lt-md {
        gap: 1rem;
        flex-wrap: wrap;
      }
      .avatar {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        @include lt-md {
          width: 4rem;
          height: 4rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .names-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }
      .divider {
        width: 1.5px;
        height: 6rem;
        background-color: $alt-color;
      }
      .user-tier {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        .stars {
          display: flex;
          gap: 0.2rem;
        }
      }
      .loaned-money-details {
        .bank {
          font-size: 0.9rem;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.8rem;
      flex-wrap: wrap;
      .nav-t {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        position: relative;
        cursor: pointer;
        &:active,
        &.active {
          color: $secondary-color;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0.15rem;
            background-color: $secondary-color;
          }
        }
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
