$primary-color: #213f7d;
$secondary-color: #39cdcc;
$transparent-secondary-color: #39cdcd21;
$alt-color: #545f7d26;
$text-color: #545f7d;
$shadow-color: rgba(165, 165, 165, 0.13);
$shadow-color-x: rgba(205, 205, 205, 0.151);
$background-color: #e5e5e531;
$red-color: #e4033b;

// media aliases and breakpoints
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;
$screen-xl-max: 5000px;

// media devices
@mixin xs {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// media lt queries
@mixin lt-sm {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// media gt queries
@mixin gt-xs {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.card {
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  color: $text-color;
  filter: drop-shadow(0 1px 8px $shadow-color);
  border: 1px solid $alt-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.view-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: $primary-color;
}

@mixin btn($color) {
  background-color: $color;
  color: white;
  border: 2px solid $color;
  padding: 0.5rem;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: transparentize($color, 0.2);
  }
  &:active {
    background-color: transparentize($color, 0.4);
  }
}
@mixin outline-btn($color) {
  background-color: transparent;
  color: $color;
  border: 2px solid $color;
  padding: 0.5rem;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: transparentize($color, 0.7);
  }
  &:active {
    background-color: transparentize($color, 0.5);
  }
}

.lendsqr_i {
  @include lt-md {
    display: none;
  }
}

.capitalize {
  text-transform: uppercase;
}

.txt-lg {
  font-size: 1.5rem;
  font-weight: 600;
  color: $primary-color;
  @include md {
    font-size: 1.2rem;
  }
}

.txt-li {
  font-size: 1rem;
  @include md {
    font-size: 0.9rem;
  }
}

.txt {
  font-size: 0.9rem;
  @include md {
    font-size: 0.8rem;
  }
}
div {
  overflow-wrap: break-word;
}

@mixin popup($top, $right, $bottom, $left, $width) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  width: $width;
  z-index: 2;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }
  &.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }
}

.dropdown-menu {
  @include popup(0, -1.5rem, auto, auto, 12rem);
  padding: 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      &:hover a {
        color: $alt-color;
        cursor: pointer;
      }
      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  .dropdown-item {
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    gap: 0.8rem;
    &:hover {
      color: $alt-color;
    }
  }
}

.filter-menu {
  @include popup(auto, auto, 0, 0, 13rem);
  z-index: 12;
  .filter-menu-item {
    margin-bottom: 0.7rem;
    .filter-menu-item-title {
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 0.4rem;
    }

    input,
    select {
      outline: none;
      border: 1px solid $alt-color;
      color: $text-color;
      border-radius: 4px;
      padding: 0.5rem;
      width: 95%;
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
    .filter-menu-btn {
      width: 48%;
      &:first-child {
        @include outline-btn($primary-color);
      }
      &:last-child {
        @include btn($secondary-color);
      }
    }
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $alt-color;
  &.md {
    height: 5vh;
    font-size: 1.5rem;
  }
  &.lg {
    height: 10vh;
    font-size: 2rem;
  }
  &.xl {
    height: 20vh;
    font-size: 2.5rem;
  }
}

.error {
  color: $red-color;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  &.active {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
    transition: 500ms ease;
  }
  &.inactive {
    opacity: 0;
    visibility: hidden;
    transition: 500ms ease;
  }
  &.active-transparent {
    opacity: 1;
    visibility: visible;
    transition: 500ms ease;
  }
}

.lg-hide {
  @include lt-lg {
    display: none;
  }
  @include lt-md {
    display: block;
  }
}
